# Node.js
node_modules/

# Visual Studio Code
.vscode/
*.code-workspace

.todo.txt

dist
build

wrapper/favicon.ico
wrapper/manifest.json
wrapper/static
wrapper/asset-manifest.json
wrapper/logo.png
wrapper/index.html
wrapper/fontawesome