# Node.js
node_modules/

# Visual Studio Code
.vscode/
*.code-workspace

.todo.txt

wrapper/dist
frontend/build

wrapper/facicon.icon
wrapper/manifest.json
wrapper/static
wrapper/asset-manifest.json
wrapper/logo.png
wrapper/index.html
wrapper/favicon.ico
wrapper/fontawesome
wrapper/frontend-build