.popupContainer {
  padding: 1.5rem;
  background-color: #181818dd;
  box-shadow: 0 3px 5px 0 #08080888;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  position: fixed;
  z-index: 999;
  top: calc(50vh - 300px);
  left: calc(50vw - 300px);
}

.title {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #f0f0f0;
}

.contentWrapper {
  display: block;
}

.actionsWrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}

.actionsWrapper>*+* {
  margin-left: .5rem;
}

.sectionWrapper+.sectionWrapper {
  margin-top: 1rem;
}

.sectionTitle {
  display: block;
  font-weight: 500;
  color: #f0f0f0;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.25rem;
}

.sectionColumns {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: .5rem;
}

.sectionColumn {
  display: flex;
  align-items: center;
}

.sectionColumn+.sectionColumn {
  margin-left: .5rem;
}

.columnLabel {
  display: block;
  color: #f0f0f0;
}