.buttonStandard {
  padding: .3rem .55rem;
  border: solid 1px #f0f0f0;
  font-family: inherit;
  background-color: #222222;
  color: #f0f0f0;
  border-radius: 5px;
  font-size: .85rem;
}

.buttonStandard:hover {
  filter: brightness(1.25);
}

.buttonStandard:active,
.buttonStandard:focus,
.buttonStandard:focus {
  filter: brightness(1.5);
}