.controlsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 .75rem;
  background-color: #222222dd;
  z-index: 999;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.controlsWrapper>div:first-child {
  flex-grow: 1;
}

.controlsWrapper>div+div {
  margin-left: 1.5rem;
}

.controlsWrapper>div>*+* {
  margin-left: .5rem;
}
